@page
@using _0_FramBase.Application
@model ServiseHost.Pages.CartModel
@{
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">سبد خرید شما</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li class="active">سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    @foreach (var item in Model.CartItems.Where(x=>x.IsInStock==false))
                    {
                    <div class="alert alert-warning">محصول  @item.Name ناموجود</div>
                    }
                    <div class="page-content-wrapper">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="pro-thumbnail">عکس</th>
                                        <th class="pro-title">محصول</th>
                                        <th class="pro-price">قیمت</th>
                                        <th class="pro-quantity">تعداد</th>
                                        <th class="pro-subtotal">مجموع</th>
                                        <th class="pro-remove">حذف</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="~/ProductPicture/@item.Picture" class="img-fluid" alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">@item.Name</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>@item.UnitPrice.ToMoney()</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="@item.Count" min="1" onchange="changeCartItemCount('@item.Id','totalItemPrice-@item.Id',this.value)" >
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span id="totalItemPrice-@item.Id">@item.TotalItemPrice.ToMoney()</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a asp-page-handler="removeFromCart" asp-route-id="@item.Id" onclick="removeFromCart(@item.Id)">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }


                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex">
                                <div class="cart-summary">

                                    <div class="cart-summary-button">
                                        <a class="btn btn-danger" asp-page-handler="GoToCheckOut">تکمیل فرایند خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
